# Change the file extension to .env and edit the details accordingly.


#Gmail credentials and configuration for sending emails
SMTP_HOST     = "smtp.gmail.com"
SMTP_PORT     = 587
SENDER_EMAIL  = "you@gmail.com"       # Your Gmail
SENDER_PASS   = "xxxx xxxx xxxx xxxx" # Gmail App Password(generated 16 Character password)

#Edit these details accordingly
CSV_FILE      = "XXX.csv" # Name of your excel sheet
TEMPLATE_FILE = "email_template.txt"
PLACEHOLDER_FILE = "placeholders.json"
LOG_FILE      = f"logs/results_{datetime.now().strftime('%Y%m%d_%H%M%S')}.csv"

DELAY_BETWEEN_EMAILS = 2  # seconds
BATCH_SIZE    = 50          # pause after every 50 emails
BATCH_PAUSE   = 10          # seconds to pause between batches